* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Open Sans Condensed';
  padding: 2rem 4rem;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;

  .logo-container {
    height: 100%;
    width: 7rem;
    padding: 2.5rem;
  }

  .options {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: flex-end;
    align-items: center;

    .option {
      padding: 1rem 1.5rem;
      cursor: pointer;
    }
  }
}

section.articles {
  display: grid;
  grid-gap: 2em;
  width: 95%;
  margin: 0 auto;

  article {
    img {
      width: 100%;
      height: auto;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}
